* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

#game-name {
    text-align: center;
    padding: 30px;
}

.container {
    width: 800px;
    background-color: blue;
    margin: 20px auto;
}

.float {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.card {
    width: calc(25% - 30px);
    height: 200px;
    margin: 15px 15px 20px 15px;
    background-image: url("../img/pattern.png");
    background-size: contain; 
}

.image {
    display: none;
    background-color: white;
    text-align: center;
    z-index: 2;
}

.image img {
    width: 100%;
    padding: 10px;
}

.card:hover .image {
    display: contents;
}














#lastline {
    text-align: center;

}

