* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(167, 229, 250);
    font-family: 'Gloria Hallelujah', cursive;
}

#game-name {
    text-align: center;
    padding: 30px;
}

.container {
    width: 800px;
    margin: 20px auto 10px;
}

.float {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.card {
    width: calc(25% - 30px);
    height: 220px;
    margin: 15px 15px 20px 15px;
    background-image: url("../img/pattern.png");
    background-size: contain; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
    display: none;
    text-align: center;
}

.image img {
    width: 100%;
    padding: 10px;
}

.image > h4 {
    text-align: center;
    padding-bottom: 5px;
}

.card:hover .image {
    display: contents;
}

.card:hover {
    background-image: none;
    background-color: white;
}

#special-card {
    background-image: none;
    background-color: white;
}

#special-card .image {
    display: contents;
}

#lastline {
    width: 100%;
    height: 50px;
    position: relative;
}

#lastline h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

